<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更新列表</title>
    <link th:href="@{/static/css/index.css}" rel="stylesheet" />
    <link th:href="@{/static/css/bootstrap1.css}" rel="stylesheet">
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/static/js/jquery-1.9.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <style>
        a:hover{
            text-decoration: none;
        }
        li{
            height: 80px;
        }
    </style>

</head>
<body>

<div style="margin: 100px 100px;">
    <div>
        <a th:href="@{/book/all/1}" style="border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;">返回</a>
    </div>


<!--    <table class="table table-hover" >-->
<!--        <thead>-->
<!--        <tr  >-->
<!--            <th style="text-align: center" colspan="5">小说列表</th>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>小说名称</th>-->
<!--            <th>标签</th>-->
<!--            <th>作者</th>-->
<!--            <th>操作</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody th:each="book : ${books.book}">-->
<!--        <tr>-->
<!--            <td th:text="${book.bookid}"></td>-->
<!--            <td th:text="${book.bookname}"></td>-->
<!--            <td th:text="${book.tip}"></td>-->
<!--            <td th:text="${book.author}"></td>-->

<!--            <td>-->
<!--                <a style="border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;" class="morechart" data-toggle="collapse" th:data-target="'#demo'+${bookStat.index+1}">展开</a>-->
<!--                <a th:href="@{'/book/addchapterpage/'+${book.bookid}}" style="border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;">更新章节</a>-->

<!--            </td>-->
<!--        </tr>-->


<!--        <tr  th:id="'demo'+${bookStat.index+1}" th:each="books : ${books.list[bookStat.index]}" class=" collapse" >-->
<!--&lt;!&ndash;            <div th:each="books1 : ${books[bookStat.index]}">&ndash;&gt;-->



<!--                        <td th:text="${book.bookname}" class="col-lg-2"></td>-->
<!--                        <td th:text="${books.chapter}" class="col-lg-2"></td>-->
<!--                        <td class="col-lg-2"></td>-->
<!--                        <td th:text="${books.addtime}" class="col-lg-2"></td>-->
<!--                        <td th:if="${books.status == 'true'}" class="col-lg-2"><a style="border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;" th:href="@{'/book/change/'+${books.bid}}">修改</a></td>-->
<!--                        <td th:if="${books.status != 'true'}" class="col-lg-2"><span style="border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;">审核中</span></td>-->


<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--        </tr>-->


<!--        </tbody>-->
<!--    </table>-->
    <ul class="list-group" >
        <li class="list-group-item active" style="height: 40px">
            <div class="row">
                <span class="col-lg-2">ID</span>
                <span class="col-lg-2">小说名称</span>
                <span class="col-lg-2">标签</span>
                <span class="col-lg-2">作者</span>
                <span class="col-lg-2">更多</span>
            </div>
        </li>
        <li class="list-group-item" style="height: 80px;border-top:#ccc 1px solid" th:each="book : ${books.book}">

                <div class="row" >

                    <span th:text="${book.bookid}" style="padding: 20px 15px;" class="col-lg-2"></span>
                    <span th:text="${book.bookname}" style="padding: 20px 15px;" class="col-lg-2"></span>
                    <span th:text="${book.tip}" style="padding: 20px 15px;" class="col-lg-2"></span>
                    <span th:text="${book.author}" style="padding: 20px 15px;" class="col-lg-2"></span>


                    <span class="col-lg-3">
                        <span style="border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;" class="morechart" data-toggle="collapse" th:data-target="'#demo'+${bookStat.index+1}">展开</span>
                        <a th:href="@{'/book/addchapterpage/'+${book.author}+'/'+${book.bookid}}" style="margin-left: 10px;border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;">更新章节</a>

                        <form style="margin: 5px 0;" enctype="multipart/form-data" method="post" th:action="@{'/book/upload/'+${book.author}+'/'+${book.bookid}}">
                            <input style="width: 200px;float: left;padding: 6px 12px;border:#ccc 1px solid;" multiple="multiple" class="btn btn-default" type="file" name="img" value="上传封面"/>
                            <input style="float: left;padding: 6px 12px;border:#ccc 1px solid;" class="btn btn-default" type="submit" value="提交"/>
                        </form>
                    </span>
                </div>

                    <div th:id="'demo'+${bookStat.index+1}" class="row collapse" style="padding: 10px 0" >
                        <div class="row" style="margin: 0;padding: 10px 0;border-bottom: #ccc 1px solid ;border-top: #ccc 1px solid ; ">
                            <span class="col-lg-2">小说名称</span>
                            <span class="col-lg-2">作者</span>
                            <span class="col-lg-2"></span>
                            <span class="col-lg-2">上传时间</span>
                            <span class="col-lg-2">状态</span>
                        </div>
                        <div th:each="book1 : ${books.list[bookStat.index]}" style="width: 100%;height: auto;padding: 10px 0">

                                <div style="margin: 10px 0;">
                                    <span th:text="${book.bookname}" class="col-lg-2"></span>
                                    <span th:text="${book1.chapter}" class="col-lg-2"></span>
                                    <span class="col-lg-2"></span>
                                    <span th:text="${book1.addtime}" class="col-lg-2"></span>
                                    <span th:if="${book1.status == 'true'}" class="col-lg-2"><a style="border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;" th:href="@{'/book/change/'+${book.author}+'/'+${book1.bid}}">修改</a></span>
                                    <span th:if="${book1.status != 'true'}" class="col-lg-2"><span style="border: #ccc 1px solid;padding: 6px 12px;border-radius: 0.25rem;">审核中</span></span>
                                </div>


                            
                        </div>
                    </div>
        </li>
    </ul>



</div>


</body>
<script>
    $(function () {
        $(".morechart").click(function () {
            console.log($(this).html());
            if ($(this).html() == "展开"){
                $(this).html("收起");
                $(this).parents("li").css({
                    "height" : "auto",
                });
            }else {
                $(this).html("展开");
                $(this).parents("li").css({
                    "height":"40px",
                });
            }
        });
    });
    // $(function () { $('#demo1').collapse('show')});
</script>
</html>