<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>小说首页</title>
    <link th:href="@{/static/css/index.css}" rel="stylesheet" />
    <link th:href="@{/static/css/bootstrap1.css}" rel="stylesheet">
    <link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/static/js/jquery-1.9.1.js}"></script>
    <script th:src="@{/static/js/bootstrap.js}"></script>
    <style>
        a:hover{
            text-decoration: none;
        }
        img{
            cursor: pointer;
            transition: all 0.6s;
        }
        img:hover{
            transform: scale(1.15);
        }
    </style>
</head>
<body>


<div style="width: 1200px;margin:  auto" id="id-images2" class="top marketing">
    <div style="width: 200px;float: right;margin-top: 10px;">

        <p style="float:right;line-height: 40px;" th:if="${user} != null" th:text="'用户名: '+${user.username}"></p>
        <p style="float:right;line-height: 40px;" th:if="${user} == null">游客</p>
        <img th:src="@{/static/img/USER.jpg}" style="border-radius: 50px;width:40px;margin:0 10px 10px 0;float:right;">
        <a style="float:right;border: #ccc 2px solid;padding: 6px 12px;margin-top: 10px;" th:href="@{'/logout/'+${user.username}}">退出登录</a>
<!--        <form th:if="${user} != null" th:action="@{'/logout/'+${user.username}}">-->
<!--            <input style="float: right;margin-top: 10px;" class="btn btn-default" type="submit" value="退出登录" >-->
<!--        </form>-->


    </div>
    <div style="margin: 20px 0 20px 0;width: 100%;float:left;">
        <form style="float: left;" >
            <input th:if="${user} != null" class="btn btn-default" type="submit" value="发布新书"  th:formaction="@{'/book/add/'+${user.username}}">
            <input th:if="${user} == null" class="btn btn-default" type="submit" value="发布新书"  th:formaction="@{'/book/add/'+'佚名'}">
            <input th:if="${user} != null" class="btn btn-default" type="submit" value="更新列表"  th:formaction="@{'/book/addchapter/'+${user.username}}">
            <input th:if="${user} == null" class="btn btn-default" type="submit" value="更新列表"  th:formaction="@{'/book/addchapter/'+'佚名'}">
        </form>
        <form style="float: right" th:action="@{/book/search/1}" >
            <input type="text" id="search" name="search" class="search btn btn-default" placeholder="请输入书名或作者名，宁缺勿错" /><input type="submit" class="search btn btn-default" value="搜索" />
        </form>
    </div>
</div>
<div style="width: 100%;margin:  auto"  class="nav marketing">
    <div class="main-nav-wrap" style="padding-left: 200px" data-l1="3">
        <div class="main-nav box-center cf" id="type-hover">

            <ul>
                <li class="first dropdown">
                    <b><strong></strong></b>
                    <span>
								<em> <i></i> <i></i> <i></i> </em>作品分类
								</span>
                    <div class="dropdown-content">
                        <a href="/xuanhuan/" title="玄幻小说" target="_blank" data-eid="qd_A71"><i>玄幻</i></a>
                        <a href="/qihuan/" title="奇幻小说" target="_blank" data-eid="qd_A72"><i>奇幻 </i></a>
                        <a href="/wuxia/" title="武侠小说" target="_blank" data-eid="qd_A73"><i>武侠</i></a>
                        <a href="/xianxia/" title="仙侠小说" target="_blank" data-eid="qd_A74"><i>仙侠</i></a>
                        <a href="/dushi/" title="都市小说" target="_blank" data-eid="qd_A75"><i>都市</i></a>
                        <a href="/xianshi/" title="现实小说" target="_blank" data-eid="qd_A76"><i>现实</i></a>
                        <a href="/junshi/" title="军事小说" target="_blank" data-eid="qd_A77"><i>军事</i></a>
                        <a href="/lishi/" title="历史小说" target="_blank" data-eid="qd_A78"><i>历史</i></a>
                        <a href="/youxi/" title="游戏小说" target="_blank" data-eid="qd_A79"><i>游戏</i></a>
                        <a href="/tiyu/" title="体育小说" target="_blank" data-eid="qd_A80"><i>体育</i></a>
                        <a href="/kehuan/" title="科幻小说" target="_blank" data-eid="qd_A81"><i>科幻</i></a>
                        <a href="/zhutianwuxian/" title="诸天无限小说" target="_blank" data-eid="qd_A81"><i style="white-space: nowrap;">诸天无限</i></a>
                        <a href="/lingyi/" title="悬疑小说" target="_blank" data-eid="qd_A82"><i>悬疑</i></a>
                        <a href="/2cy/" title="轻小说" target="_blank" data-eid="qd_A84"><i>轻小说</i></a>
                    </div>
                </li>
                <li class="nav-li"><a href="//www.qidian.com/all/" data-eid="qd_A15" class="act">全部作品</a></li>
                <li class="nav-li"><a href="//www.qidian.com/rank/" data-eid="qd_A16">排行</a></li>
                <li class="nav-li"><a href="//www.qidian.com/finish/" data-eid="qd_A17">完本</a></li>
                <li class="nav-li"><a href="//www.qidian.com/free/" data-eid="qd_A18">免费</a></li>
                <li class="nav-li"><a class="third-remove" href="https://write.qq.com/?siteid=1" target="_blank" data-eid="qd_A19">作家专区</a></li>
                <li class="nav-li"><a class="third-remove" href="https://www.yuewen.com/app.html#appqd" target="_blank" data-eid="qd_A20"><b class="iconfont client"></b>客户端</a></li>
            </ul>
        </div>
    </div>
</div>
<div style="width: 1200px;margin:  auto"  class="controls marketing">
    <div style="width: 20%;float: left;height: 500px;">

    </div>
    <div class="row" style="width: 80%;">
        <div class="col2 col-md-6" th:each="book : ${page.list}">
            <div >
                <a style="display: block;overflow: hidden;margin-right:10px;border-radius: 6px;"  target="_blank" class="back-to-top" th:href="@{'/book/'+${book.bookid}}">
                    <img th:if="${book.img} == 1" class="img-rounded" target="_blank" th:title="${book.bookname}+'在线阅读'" th:src="@{'/book/img/'+${book.bookid}}" >
                    <img th:if="${book.img} == 0" class="img-rounded" target="_blank" th:title="${book.bookname}+'在线阅读'" th:src="@{/static/img/default.png}" >
                </a>
            </div>
            <div >
                <h6 style="margin-top: 4px;margin-bottom: 12px;"><a style="font-size: 14px" target="_blank" th:text="${book.bookname}" th:href="@{'/book/'+${book.bookid}}"></a></h6>
            </div>
            <div style="color: #a6a6a6;font-size: 12px;">
                <a th:text="${book.tip}"></a>
                &nbsp|&nbsp
                <a th:text="${book.author}"></a>
            </div>
            <div style="color: #a6a6a6;font-size: 12px">
                <p style="" th:text="'&nbsp&nbsp&nbsp&nbsp'+${book.intro}"></p>
            </div>
            <div style="color: #a6a6a6;font-size: 12px">
                <a target="_blank" th:href="@{'/book/'+${book.bookid}+'/'+${book.bid}}" th:text="'最新章节:  '+${book.chapter}"></a>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center;">
    <ul class="pagination">
        <li><a th:if="${page.hasPreviousPage}" th:href="@{/book/all/1}">首页</a></li>
        <li><a th:if="${page.hasPreviousPage}" th:href="@{'/book/all/'+${page.prePage}}">上一页</a></li>
        <li class="paginate_button " th:each="num : ${page.navigatepageNums}" >
            <a th:if="${page.pageNum == num}" style="background: #337ab7;color: white" th:href="@{'/book/all/'+${num}}" th:text="${num}"></a>
            <a th:if="${page.pageNum != num}" th:href="@{'/book/all/'+${num}}" th:text="${num}"></a>
        </li>
        <li><a th:if="${page.hasNextPage}" th:href="@{'/book/all/'+${page.nextPage}}">下一页</a></li>
        <li><a th:if="${page.hasNextPage}" th:href="@{'/book/all/'+${page.pages}}">末页</a></li>

    </ul>
</div>




</body>
</html>
