
.coltext{
	margin-top: 20px;
}
#id-images2{
	margin-top: 40px;
}
.col2{
	/*font-size: 2px;*/
	margin-top: 10px;
	margin-bottom: 10px;
}
.col2 img{
	/*border: 2px solid #dcdcdc;*/
	width: 102px; height: 130px;
}
.col2 p{
	margin-top: 5px;
	overflow: hidden;
	ont-size: 14px;
	height: 48px;
	line-height: 24px;
}
.col2:nth-child(n + 3){
	border-top: solid 1px #d6d7db;
}
.col2 div:nth-child(1){
	padding-top: 20px;width: 25%;height: 100%;float: left;
	/* padding-top: 20px; */
}
.col2 div:nth-child(2){
	padding-top: 20px;width: 75%;float: left;
}
.paginate_button a:hover{
	color: white;
}
a:hover {text-decoration: none;}
a{text-decoration: none;}
img{
	cursor: pointer;
	transition: all 0.6s;
}
img:hover{
	transform: scale(1.4);
}

li, ol, ul {
	list-style: none outside none;
}

h6 a:hover{
	color: #ed4259;
}

.main-nav-wrap {
	height: 40px;
	width: 100%;
}

.main-nav-wrap,.main-nav-wrap .main-nav {
	background-color: #3e3d43;
	position: relative
}

.main-nav-wrap .main-nav {
	display: inline-block;
	height: 40px;
	*z-index: 2
}

.main-nav-wrap .main-nav li {
	float: left;
}

.main-nav-wrap .main-nav li.first b {
	border-color: #a6a6a6 transparent currentcolor;
	margin-left: -5px;
	right: 18px;
	top: 18px;
	transition: all .5s
}

.main-nav-wrap .main-nav li.first b,.main-nav-wrap .main-nav li.first b strong {
	border-style: solid solid none;
	border-width: 5px 5px 0;
	height: 0;
	position: absolute;
	width: 0
}

.main-nav-wrap .main-nav li.first b strong {
	border-color: #333 transparent currentcolor;
	right: -5px;
	top: -7px
}

/* .main-nav-wrap .main-nav li.first:hover span {
    background-color: #252428
} */

.main-nav-wrap .main-nav li.first:hover b {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg)
}

.main-nav-wrap .main-nav li a {
	/* border-bottom: 2px solid #333; */
	color: #fff;
	float: left;
	font: 16px/38px PingFangSC-Regular,HelveticaNeue-Light,Helvetica Neue Light,Microsoft YaHei,"sans-serif";
	height: 38px;
	padding: 0 29px
}

.main-nav-wrap .main-nav li.first a:hover i{
	color: #ed4259;
}

.main-nav-wrap .main-nav li.first a{
	background-color: #f7f6f2;
}

.main-nav-wrap .main-nav li.first a.even{
	background-color: #fcfcfa;
}


.main-nav-wrap .main-nav li.first a {
	height: 60px;
	line-height: 60px;
}

.dropdown-content a{
	width: 50%;
}

.main-nav-wrap .main-nav li.nav-li a.act {
	background-color: #ed4259;
	border-bottom: 2px solid #ed4259;
	color: #fff
}



.main-nav-wrap .main-nav li.nav-li a:hover {
	background-color: #252428;
	border-bottom: 2px solid #252428;
	border-top: 2px solid #ed4259;
	height: 40px;
	line-height: 34px;
	transition: none
}

.main-nav-wrap .main-nav li.first {
	background-color: #313035;
	cursor: pointer;
	height: 38px;
	margin-right: 30px;
	position: relative;
	width: 216px
}



.main-nav-wrap .main-nav li.first:hover span {
	background-color: #252428
}



.main-nav-wrap .main-nav li.first span {
	background-color: #313035;
	color: #fff;
	display: block;
	font: 16px/38px PingFangSC-Regular,HelveticaNeue-Light,Helvetica Neue Light,Microsoft YaHei,"sans-serif";
	padding: 0 0 0 18px;
	transition: all .5s
}

.main-nav-wrap .main-nav li.first span em {
	float: left;
	height: 14px;
	margin: 13px 8px 0 0;
	overflow: hidden;
	vertical-align: middle;
	width: 16px
}

.main-nav-wrap .main-nav li.first span em i {
	background: #d5d5d6;
	display: block;
	height: 2px;
	margin-bottom: 4px;
	width: 16px
}

.main-nav-wrap .main-nav li.first i {
	font-size: 14px;
	color: #000000;
}

a:hover{
	text-decoration: none;
}







.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	margin-top: 2px;
	display: none;
	position: absolute;
	background-color: #f7f6f2;
	min-width: 200px;
	box-shadow: 0px 3px 5px 0px #ccc;
	z-index: 1;
}



.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.site{
	/*border-bottom: 1px solid #ebebeb;*/
	height: 29px;
}
.site a{
	display: inline-block;
	font: 12px/25px PingFangSC-Regular,-apple-system,Simsun;
	height: 29px;
	text-align: center;
	width: 60px;
}

.site-item:hover{
	color: #ed4259;
}

.site a.act{
	background: #fff;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-top: 2px solid #ed4259;
	color: #ed4259;
	font-weight: 700;
	height: 28px;
}

.range-sidebar .selected, .range-sidebar .site, .select-list .work-filter {
	border-bottom: 1px solid #ebebeb;
}

.sl-item {
	display: none;
	margin-top: 15px;
}

.list-act {
	display: block;
}


.select-list .work-filter {
	margin-bottom: 15px;
	padding-bottom: 6px;
}

.select-list .work-filter h3 {
	font-family: PingFangSC-Regular,-apple-system,Simsun;
	font-size: 12px;
	margin-bottom: 15px;
}

.range-sidebar .selected p, .select-list .sub-type, .select-list .work-filter ul {
	*zoom: 1;
	overflow: hidden;
}

.select-list .work-filter ul li {
	float: left;
	height: 20px;
	margin-bottom: 8px;
	margin-right: 8px;
	padding: 0 4px;
	text-align: center;
}

.select-list .work-filter ul li a {
	display: block;
	font: 12px/20px PingFangSC-Regular,-apple-system,Simsun;
}

.select-list .work-filter.tag {
	border-bottom: none;
}

.work-filter ul{
	padding: 0;
}

.work-filter ul li:hover a{
	color: #ed4259;
}

a:link{
	text-decoration:none;
}
a:visited{
	text-decoration:none;
}
a:active{
	text-decoration:none;
}

.topuser{
	display: inline-block;
}
.logout{
	display: none;
	position: absolute;

	min-width: 20px;
	box-shadow: 0px 3px 5px 0px #ccc;
	z-index: 1;
}
.topuser:hover .logout{
	display: block;
}
